<!doctype html>
<head>
</head>
<body>

<div data-sp_widget="21" data-parameters='{"page_currentproduct":"2", "page_currentcategory":"1"}' data-config='{"json": "for config"}'></div>
<div data-sp_widget="21" data-parameters='{"page_currentproduct":"2", "page_currentcategory":"1"}' data-config='{"json": "for config"}'></div>

<script src="widgetizer_standalone.min.js"></script>
<script type="text/javascript">
    // initialize widgetizer
    var widgetizer = new AOEWidgetizer({
        widgetEndpoint: 'http://localhost:3000/',
        jsonp: true,
        // only data-attributes!
        widgetSelector: '[data-sp_widget]',
        parametersAttribute: 'data-parameters',
        configurationAttribute: 'data-config',
        // see https://extranet.aoe.com/confluence/display/SearchpereienceManual/Widget+Integration?src=search
        templateSelector: 'script[data-sp-widget_template="#NAME#"]',
        defaultTemplate: '{{collection.items}}' +
        '{{if data.title}} <h1>{{data.title|sanitize}}</h1> {{/if}}' +
        '{{if data.previewimage}} <img src="{{data.previewimage|sanitize}}" /> {{/if}}' +
        '{{if data.description}} <span>{{data.description|sanitize}}</span> {{/if}}' +
        '{{/collection.items}}',
        jsonpCallbackBase: 'widgetizer_callback_',
        jQuery: undefined
    });
    widgetizer.init();
</script>
</body>
</html>
